<!DOCTYPE html>
<html>
    <head>
        <title>Головна сторінка</title>
    </head>
    <body>
        <a href="https://www.youtube.com/watch?v=EdussiAdP18&ab_channel=BigBabyTape-Topic">Нажми на меня быстроооо</a>

        <h1><i>Never Broke Again</i></h1>
        <h2><b>Never Broke Again</b></h2>
        <h3>Never Broke Again</h3>
        <h4>Never Broke Again</h4>
        <h5>Never Broke Again</h5>
        <h6>Never Broke Again</h6>
        <p>valdemar<br>
            ierfihergti<br>
            0860/<br>
            site_patriot<br>
        </p>
        <img src="https://pw.artfile.me/wallpaper/11-04-2021/650x366/anime-owari-no-seraph-poslednij-serafim-1561834.jpg" width="500px" height="500">
        <img alt="тут должна быть ваша картинка"
    </body>
</html>